<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.inspiringbits.cleanscene.Mapper.FeedbackMapper">
    <insert id="createFeedback">
        INSERT INTO `CLEANSCENE`.`feedback`
        (`userId`,
        `reportId`,
        `date`,
        `content`)
        VALUES
        (#{feedbackId.userId},
        #{feedbackId.reportId},
        #{date},
        #{content});
    </insert>

    <update id="changeReportStatus">
        UPDATE `CLEANSCENE`.`report`
        SET
        `status` = #{status}
        WHERE `reportId` = #{reportId};
    </update>

    <select id="getFeedbackCount" resultType="Integer">
        SELECT
          count(`feedback`.`content`) AS positive
        FROM `CLEANSCENE`.`feedback`
        WHERE reportId = #{reportId} AND content = #{content};
    </select>
</mapper>