<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.inspiringbits.cleanscene.Mapper.ReportMapper">
    <select id="selectById" resultType="Report">
        select * from report where reportId = #{reportId}
    </select>
    <select id="selectAll" resultType="Report">
        select * from report
    </select>
    <select id="createReport" parameterType="map" resultType="Report">
        Insert INTO report VALUES (#{rid}, #{rating}, #{source},  #{type},
                         #{lat}, #{longit}, #{description}, #{photo},
                         #{locationName}, #{hasMore}, #{deviceId}, null,
                         #{date}, #{time})
    </select>
</mapper>